<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>
      Hi <%= @garden.user.first_name %>
    </h1>
    <p>
      <%= current_user.message %>
    </p>
  </body>
</html>
