inside app/views/layouts/_messages.html.erb
<% flash.each do |name, msg| %>

  <%= msg %>
  <% if msg.is_a?(String) %>

    <%= msg %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>
